html {
  position: relative;
  min-height: 100%;
}

body{
    margin-bottom: 50px;
}

span#trabajos{
    float: right;
}

.affix-top,.affix{
	position: static;
}

#masthead {
	min-height:270px;
	background-color:#000044;
  	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

.icon-bar {
	background-color:#fff;
}
.container-fluid{
    height: 100%;
}
.row{
    height: 100%;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}
.navbar-bright {
	background-color:#111155;
    color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
  	color:#aaaacc;
}

.navbar-bright li > a:hover {
    background-color:#000033;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:100%;
  }

  #sidebar.affix {
    position: fixed;
    top:60px;
    width:21.39999%;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

#sidebar li li.active {
  	border:0 #ccc solid;
  	border-right-width:3px;
}
a#trabajos{
    cursor: pointer;
}

a#trabajos.active{
    color: #fff;
    border:0 #eee solid;
  	border-right-width:4px;
    background-color: #337ab7
}


/*Formulario Contacto*/
form{
    margin-top: 50px;
}
/*TextArea*/
textarea{
    resize: none;
}
/*Cookies*/
#barraaceptacion {
    display:block;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}

.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
}

.inner a.ok {
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
}

.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}

/*Footer*/

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000044;
    text-align: center;
    color: #aaaacc;
    font-weight: bold;
}

footer a{
    cursor: pointer;
}
