<div id="contacto">
    <h3 class="fix-margen">Contacto</h3>
</div>
<div>
    <form name="contacto" onsubmit="return valida()">
        <div class="input-group col-md-offset-4 col-md-4 col-md-offset-4 col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre">
        </div>
        <div class="input-group col-md-offset-4 col-md-4 col-md-offset-4 col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input id="mail" type="text" class="form-control" name="mail" placeholder="Email">
        </div>
        <br>
        <div class="form-group col-md-offset-2 col-md-8 col-md-offset-2">
          <label for="comment">Comentario:</label>
          <div id="info" class="text-primary">Máximo 500 caracteres</div>
          <textarea class="form-control" rows="10" id="comment" onkeypress="return limita(event, 500);" onkeyup="actualizaInfo(500)" placeholder="Comentario(500 caracteres)"></textarea>
        </div>
        <br>
        <div class="col-md-offset-2 col-md-8 col-md-offset-2">
            <button type="submit" class="btn btn-primary pull-right">Enviar</button>
        </div>
    </form>
</div>
