<!--Sobre Mi-->
<div id="info">
    <h3 class="fix-margen">Beneficios para la salud</h3>
    <p>Hola, soy Omar y me he propuesto compartir contigo mi amor por la Fotografía para que disfrutes todavía más con ella.
<br><br>
Si te encanta construir imágenes con tu cámara pero te sientes abrumado por la técnica, si sabes que el aprendizaje no se acaba cuando dominas esa parte o siempre andas buscando los mejores libros y recursos para profundizar en este mundo apasionante, entonces este blog está pensado para ti.
<br><br>
OBR nació en octubre de 2017. En esta página puedes echar un vistazo a una selección de los contenidos más destacados, pero si lo que quieres es aprender Fotografía desde cero entonces quizás prefieras empezar por aquí.
</p>
<img id="camaras" class="img-responsive center" src="./Images/Coleccion-camaras-12.jpeg">
</div>
