<!--Sobre Mi-->
<div id="info">
    <h3 class="fix-margen">Beneficios para la salud</h3>
    <p>Hola, soy Jota y me he propuesto compartir contigo mi amor por la Fotografía para que disfrutes todavía más con ella.

Si te encanta construir imágenes con tu cámara pero te sientes abrumado por la técnica, si sabes que el aprendizaje no se acaba cuando dominas esa parte o siempre andas buscando los mejores libros y recursos para profundizar en este mundo apasionante, entonces este blog está pensado para ti.

Rubixephoto nació en octubre de 2011 y fue elegido Mejor Blog de Fotografía en la X Edición de los Premios Bitácoras. En esta página puedes echar un vistazo a una selección de los contenidos más destacados, pero si lo que quieres es aprender Fotografía desde cero entonces quizás prefieras empezar por aquí.

Para estar siempre al tanto de las novedades y recibir un resumen semanal de contenidos puedes suscribirte en sólo cinco segundos…</p>
</div>
