<!--Trabajo1-->
<div id="trabajo1">
    <h3 class="fix-margen">Trabajo1</h3>
    <p>Aqui trabajo hice un fotográfico en ...</p>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./Images/lights.jpg" class="imagenes" title="Lights">
                    <img src="./Images/lights.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                 <a href="./Images/nature.jpg" class="imagenes" title="Nature">
                    <img src="./Images/nature.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./Images/fjords.jpg" class="imagenes" title="Fjord">
                    <img src="./Images/fjords.jpg" alt="Fjord" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./Images/lights.jpg" class="imagenes" title="Lights">
                    <img src="./Images/lights.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                 <a href="./Images/nature.jpg" class="imagenes" title="Nature">
                    <img src="./Images/nature.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./Images/fjords.jpg" class="imagenes" title="Fjord">
                    <img src="./Images/fjords.jpg" alt="Fjord" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./Images/lights.jpg" class="imagenes" title="Lights">
                    <img src="./Images/lights.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                 <a href="./Images/nature.jpg" class="imagenes" title="Nature">
                    <img src="./Images/nature.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./Images/fjords.jpg" class="imagenes" title="Fjord">
                    <img src="./Images/fjords.jpg" alt="Fjord" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./Images/lights.jpg" class="imagenes" title="Lights">
                    <img src="./Images/lights.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                 <a href="./Images/nature.jpg" class="imagenes" title="Nature">
                    <img src="./Images/nature.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./Images/fjords.jpg" class="imagenes" title="Fjord">
                    <img src="./Images/fjords.jpg" alt="Fjord" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <!-- image modal -->
    <div class="modal fade" id="big-image-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="spinicon"><span class="fa fa-spinner fa-spin"></span></div>
            <div class="big-image-div"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
</div>
